.theme-toggle {
  border-radius: 20px;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.custom-radio-button {
  width: 20px;
  height: 20px;
  border: 2px solid #444;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .custom-radio-button input {
//   display: none;
// }

.custom-radio-button .checkmark {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: hsl(6, 63%, 50%);
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-radio-button input:checked + .checkmark {
  opacity: 1;
  display: inline-block;
}
